<!DOCTYPE html>
<html lang="en" data-theme="Aqua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet">
    <title>log-in</title>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
</head>
<body>
    <a href="/message">message</a>
    <form action="log-in" method="post">
        <label for="nickname">Nick name:</label>
        <input type="text" name="nickname" id="nickname">
        <label for="password">Password:</label>
        <input type="text" name="password" id="password">
        <button type="submit">sign-in</button>
    </form>
    <p><%= errorMessage %></p>
</body>
</html>