<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>message form</title>
</head>
<body>
    <form action="create" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">
        <label for="message">Message:</label>
        <input type="text" name="message" id="message">
        <button type="submit">send</button>
</form>
</body>
</html>