<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-up</title>
</head>
<body>
    <a href="/message">message</a>
    <form action="sign-up" method="post" onsubmit="return validateForm()">
        <label for="firstName">First name:</label>
        <input type="text" name="firstName" id="firstName">
        <label for="lastName">Last name:</label>
        <input type="text" name="lastName" id="lastName">
        <label for="nickName">Nick name:</label>
        <input type="text" name="nickName" id="nickName">
        <label for="password">Password:</label>
        <input type="text" name="password" id="password">
        <button type="submit">create</button>
</form>
</body>
</html>

<script>
function validateForm() {
    const password = document.getElementById("password").value;
    if (password.length < 8) {
        alert("Пароль должен содержать минимум 8 символов.");
        return false;
    }
    if (password.length > 20) {
        alert("Пароль не должен превышать 20 символов.");
        return false;
    }
    return true; // Всё ок, отправляем форму
}
</script>
