<!DOCTYPE html>
<html lang="en" data-theme="night">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet">
    <title>Welcome</title>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
</head>
<body>
    <div>
        <h1 class="text-3xl font-bold underline">Welcome</h1>
        <button
  class="inline-block cursor-pointer rounded-md bg-gray-800 px-4 py-3 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-900">
  Button
</button>
<button data-set-theme="" data-act-class="ACTIVECLASS">default</button>
<button data-set-theme="coffee" data-act-class="ACTIVECLASS">dark</button>
<button data-set-theme="pink" data-act-class="ACTIVECLASS">pink</button>
    </div>
</body>
</html>